<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Alunos</title>
</head>
<body>
<table border='1'>
<tr>
<th>RA</th><th>nome</th><th>data de nascimento</th><th>renda</th>
</tr>
<tr th:each="aluno: ${alunos}">
<td th:text="${aluno.ra}">RA</td>
<td th:text="${aluno.nome}">nome</td>
<td th:text="${#dates.format(aluno.dataNascimento,'dd/MM/yyyy')}">data</td>
<td th:text="${#numbers.formatCurrency(aluno.renda)}">renda</td>
</tr>
</table>
<a href="/alunos">voltar</a>
</body>
</html>